@import url('./color.less');
:root {
    --font-xxs: 11px;
    --font-xs: 12px;
    --font-s: 14px;
    --font-m: 16px;
    --font-l: 18px;
    --input-height: 45px;
    --box-padding: 16px;
    --border-radius: 16px;
}